<div class="post-details-container">
  <ng-container *ngIf="loading">
    <div class="loading-spinner">
      <span>Loading...</span>
    </div>
  </ng-container>

  <ng-container *ngIf="!loading && post">
    <article class="post">
      <header class="post-header">
        <h1 class="post-title">{{ post.title }}</h1>
        <div class="post-meta">
          <span class="author">By {{ post.username }}</span>
          <span class="date">{{ post.createdAt | date : "medium" }}</span>
        </div>
        <div *ngIf="post.images && post.images.length > 0" class="mb-6">
          <swiper-container
            [pagination]="true"
            [navigation]="true"
            [slidesPerView]="1"
            class="w-full h-[400px]"
          >
            <swiper-slide *ngFor="let image of post.images">
              <img
                [src]="getImageUrl(image.imageName)"
                [alt]="image.imageName"
                class="w-full h-full object-contain"
              />
            </swiper-slide>
          </swiper-container>
        </div>
      </header>
      <div class="post-content">
        {{ post.content }}
      </div>
    </article>
  </ng-container>

  <ng-container *ngIf="!loading && error">
    <div class="error-message">
      {{ error }}
    </div>
  </ng-container>
</div>
