<div class="post-details-container">
  <ng-container *ngIf="loading">
    <div class="loading-spinner">
      <span>Loading...</span>
    </div>
  </ng-container>

  <ng-container *ngIf="!loading && post">
    <article class="post">
      <header class="post-header">
        <h1 class="post-title">{{ post.title }}</h1>
        <div class="post-meta">
          <span class="author">By {{ post.username }}</span>
          <span class="date">{{ post.createdAt | date : "medium" }}</span>
        </div>
        <div *ngIf="post.images && post.images.length > 0" class="mb-6">
          <mat-tab-group
            [selectedIndex]="selectedIndex"
            (selectedIndexChange)="onTabChange($event)"
            mat-stretch-tabs="false"
            mat-align-tabs="center"
            animationDuration="300ms"
            class="image-carousel"
          >
            <mat-tab *ngFor="let image of post.images; let i = index">
              <div class="image-container">
                <img
                  [src]="getImageUrl(image.imageName)"
                  [alt]="image.imageName"
                  class="carousel-image"
                />
              </div>
            </mat-tab>
          </mat-tab-group>
          
          <div class="carousel-controls" *ngIf="post.images.length > 1">
            <button mat-icon-button (click)="previousImage()" [disabled]="selectedIndex === 0">
              <mat-icon>chevron_left</mat-icon>
            </button>
            <button mat-icon-button (click)="nextImage()" [disabled]="selectedIndex === post.images.length - 1">
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
        </div>
      </header>
      <div class="post-content">
        {{ post.content }}
      </div>
    </article>
  </ng-container>

  <ng-container *ngIf="!loading && error">
    <div class="error-message">
      {{ error }}
    </div>
  </ng-container>
</div>
