<mat-toolbar color="primary">
  <span>Career Board</span>
  <span class="spacer"></span>

  @if (isModerator || isUser) {
  <a mat-button routerLink="/dashboard" routerLinkActive="active">
    <mat-icon>dashboard</mat-icon>
    All Posts
  </a>
  <a mat-button routerLink="/dashboard/my-posts" routerLinkActive="active">
    <mat-icon>dashboard</mat-icon>
    My Posts
  </a>
  }

  <!-- Admin only menu item -->
  
  @if (isAdmin) {
  <a mat-button routerLink="/dashboard/admin" routerLinkActive="active">
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </a>
  }

  <a mat-button routerLink="/dashboard/manage-post" routerLinkActive="active">
    <mat-icon>post_add</mat-icon>
    Create Post
  </a>

  <!-- Moderator only menu items -->
  @if (isModerator || isAdmin) {
  <a mat-button routerLink="/dashboard/user-remove" routerLinkActive="active">
    <mat-icon>person_remove</mat-icon>
    Delete Users
  </a>
  }

  <!-- User only menu items -->
  @if (isUser) {
  <a mat-button routerLink="/my-posts" routerLinkActive="active">
    <mat-icon>article</mat-icon>
    My Posts
  </a>
  }

  <!-- Profile and Logout -->
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/profile">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </a>
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
